<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.pampanet.mobile.core"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-feature android:name="android.hardware.audio.output" android:required="true" />
    <uses-feature android:name="android.hardware.audio.low_latency" android:required="true" />
    <uses-feature android:name="android.hardware.audio.pro" android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>